<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-5">edit article</h2><hr>
  <form class="edit-article-form">
    <div>
        <label for="article-title">article title:</label>
      <input class="input" name="article-title" type="text" value="{{article.title}}" />
    </div>
    <div>
        <label for="article-content">article content:</label>
      <input class="textarea" name="article-content" type="text" value="{{article.article_content}}" />
    </div>
    <div class="is-pulled-right">
       created by you on {{format_date article.created_at}}
      |
      <a href="/article/{{article.id}}">{{article.comments.length}} {{format_plural "comment" article.comments.length}}</a>
    </div>
    <button type="submit" class="button is-success">save article</button>
    <button type="button" class="button is-danger delete-article-btn">delete article</button>
  </form>
</article>

{{> comments article.comments}}

<script src="/javascript/edit-article.js"></script>
<script src="/javascript/delete-article.js"></script>
<script src="/javascript/comment.js"></script>